// Typography
//
// Headings, body text, lists, and other misc typographic elements.


h1, h2, h3, h4, h5, h6 {
  margin-bottom: .1rem;
  font-weight: 600;
  line-height: 1.25;
  letter-spacing: -0.04em;
  color: var(--heading-color);
}

.aa {
  font-size:12pt;
  line-height:18px;
  font-family: 'Mona','IPA MONAPGOTHIC','MS PGothic','ＭＳ Ｐゴシック','MS Pｺﾞｼｯｸ','MS Pゴシック',sans-serif;
  overflow:auto;
  white-space:nowrap;
}


h1, h2, h3, h4, h5, h6 {
  margin-bottom: .1rem;
  font-weight: 600;
  line-height: 1.25;
  letter-spacing: -0.04em;
  color: var(--heading-color);
}

.emoji {
  display: inline;
  margin-bottom: 0px;
}