---
layout: default
---

<article class="basic">
  <h1 class="post-title">{{ page.title }}</h1>
  <div class="parent-link-section">
    <i class="fa-solid fa-tag"></i>
    <a class="parent-link" href="{{ page.parenturl | relative_url }}">{{page.parenttitle}}</a>
  </div>

  {{ content }}

</article>
<div class="post-nav">
  <div>
    {% if page.previous.url %}
    <a href="{{page.previous.url | relative_url }}">&laquo;&nbsp;{{page.previous.title}}</a>
    {% endif %}
  </div>
  <div class="post-nav-next">
    {% if page.next.url %}
    <a href="{{page.next.url | relative_url }}">{{page.next.title}}&nbsp;&raquo;</a>
    {% endif %}
  </div>
</div>