---
layout: default
---

<article class="basic">
  <h1 class="post-title">{{ page.title }}</h1>
  <div class="post-meta">
    {% assign date_format = site.date_format | default: "%-d %b %Y" %}
    <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: date_format }}</time>
  </div>

  {{ content }}

</article>
<div class="post-nav">
  <div>
    {% if page.previous.url %}
    <a href="{{page.previous.url | relative_url }}">&laquo;&nbsp;{{page.previous.title}}</a>
    {% endif %}
  </div>
  <div class="post-nav-next">
    {% if page.next.url %}
    <a href="{{page.next.url}}">{{page.next.title | relative_url }}&nbsp;&raquo;</a>
    {% endif %}
  </div>
</div>