<!doctype html>
<html>
  {% include head.html %}
  <body>
    <div class="container pure-g">
      {% assign cover_color    = site.cover_color    | default: "rgb(255, 255, 255)" %}
      {% assign cover_image    = site.cover_image %}
      <div class="sidebar-left pure-u-1 pure-u-md-1-4" style="background-color: {{ cover_bg_color }}; color: {{ cover_color}}; {% if cover_image %}background-image: url({{ cover_image | relative_url }});{% endif %}">
	{% include sidebar-left.html %}
      </div>
      <div class="content pure-u-1 pure-u-md-1-2">
	{% include content.html %}
      </div>
      <div class="sidebar-right pure-u-1 pure-u-md-1-4">
      </div>
      {% include scroll.html %}
  </body>
</html>
